[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.pdb
*.suo
*.user
*.userosscache
*.sln.docstates

**/packages/*
!**/packages/build/
!**/packages/repositories/

TestResults/

.vs/
*.vshost.*
*.vsp
*.log
*.bak
*.cache
*.ncb
*.scc

Publish/

.dotnet/
.templateengine/

*.db
*.sqlite
*.sqlite3

appsettings.Development.json
appsettings.Local.json
*.json.user

**/*.usersecrets

.vscode/

.DS_Store

Thumbs.db
ehthumbs.db

.idea/
